.dsmeta-red-button {
    height: 45px;
    width: 45px;
    background: rgba(213, 71, 104, 0.1);
    border: 1px solid #99494d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-button img {
    width: 19px;
}